<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<% if (context.title != null) { %>
  <title><%= context.title %></title>
<% } %>
<script src="https://resources.zhihuizhangyu.com/admin/gif-splitter/plugins/gif.min.js"></script>
<script src="http://127.0.0.1:5500/libgif.js"></script>
</head>
<body>

<div id="<%= context.config.mountElementId %>"></div>

</body>
</html>
